#menu {
	
		
	float:right;
		
	}
h1, h2, h3, h4, footer{
			font-family: 'Happy Monkey', cursive;
			text-shadow: 2px 2px 2px #111;
			}
body{
		background-image: url(../images/lightbulbs.jpg);
		}
#preview {
background:red;
width:300px;
height:300px;

}
#review {
background-color:rgba(255, 0, 0 , 0.5);
width:995px;
height:197px;
}
h1{
width:100px;
}

