/*navigation*/
#menu 	{
	float:right;
		}
#menu ul li a:link		{
				color:#f2fb09;/*yellow*/
						}
				a:visited{
				color:#ef0a0a;/*red*/
						}
				a:hover{
				color:#fb7509;/*orange*/
					}
				a:active{
				color:#3109fb;/*blue*/
					}
h1, h2, h3, h4, footer			{
		font-family: 'Happy Monkey', cursive;
		text-shadow: 2px 2px 2px #111;
								}
body				{
			background-image: url(../images/lightbulbs.jpg);
			width:1300px;
			height:1300px;
			margin-left:auto;
			margin-right:auto;
					}
/*Flash Game Preview*/
#preview 				{
					background:red;
					width:300px;
					height:300px;
						}
/*Parental Review*/
#review {
	background-color:rgba(255, 0, 0 , 0.5);
	width:995px;
	height:230px;
	}

ul			{
		list-style-type:circle;
			}
/*gallery*/		
#professor, #secondgame, #icons{
		float:left;
}
#comment{
width:280px;
-moz-column-count:1;
}
#intro{
width:280px;
-moz-column-count:2;
margin-top:50px;

}
#conclusion{
width:280px;
-moz-column-count:1;
}

