/*navigation*/
#menu 	{
	float:right;
	border:3px solid black;
	border-radius:10px;
	background-image: url(../images/btn.jpg);
	width:40px;
	height:25px;
	list-style-type:none;
	background-repeat:repeat-x;
		}
		#navigation{
		margin-left:auto;
		 margin-right:auto;
		 }
#menu ul li a:link		{
				color:#f2fb09;/*yellow*/
						}
				a:visited{
				color:#ef0a0a;/*red*/
						}
				a:hover{
				color:#fb7509;/*orange*/
					}
				a:active{
				color:#3109fb;/*blue*/
					}
h1, h2, h3, h4, footer			{
		font-family: 'Happy Monkey', cursive;
		text-shadow: 2px 2px 2px #111;
		width:300px;
		margin-left:auto;
		 margin-right:auto;
								}
h1, h2 {
margin-left:369px;
}
h1{
background:red;
float:left;
border:2px solid black;
border-radius:10px;
width:140px;
margin-left:30px;
}
h2{
margin-top:50px;
}
body				{
			background-image: url(../images/lightbulbs.jpg);
			width:1000px;
			height:1300px;
			}
/*Flash Game Preview*/
#preview 				{
					background:red;
					width:295px;
					height:300px;
					margin-left:auto;
		 			margin-right:auto;
		 			border-radius:10px;
						}
/*Parental Review*/
#review {
	background-color:rgba(255, 0, 0 , 0.5);
	width:280px;
	height:234px;
	margin-left:auto;
	margin-right:auto;
	border:3px solid black;
	border-radius:10px;
	}

ul			{
		list-style-type:circle;
			}
/*gallery*/	
#gallery{
			background-color:rgba(255, 0, 0 , 0.5);
			border:3px solid black;
			border-radius:10px;
			padding:13px;
			}

#gallery, li{
			
			margin-left:auto;
			margin-right:auto;
			}	
#professor, #secondgame, #icons{
		float:left;
				}

#gears, #icons, #secondgame, #professor{
padding:18px;
}
						}
#comment{
	width:280px;
	-moz-column-count:1;
		}
	#intro{
		background-color:rgba(255, 0, 0 , 0.5);
		width:280px;
		height:234px;
		-moz-column-count:2;
		 margin-left:357px;
		 margin-right:auto;
		 border:3px solid black;
		 border-radius:10px;
		}
#conclusion{
width:280px;
-moz-column-count:1;
margin-left:auto;
margin-right:auto;
}
#game{
		width:200px;
		height:150px;
		margin-left:30px;
		 margin-right:10px;
	}

